.bounceAnimationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.bounceAnimationCircle {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  border-radius: 50%;
  animation: bounce 2s infinite ease-in-out;
  animation-play-state: paused;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(200px); /* Move the bounceAnimationCircle down by 200px */
  }
}

.bounceAnimationControls {
   display: flex;
   align-items: center;
   gap: 16px;
}

.bounceAnimationButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
