/* PROSJEKT */
.projectDisplay {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projectCards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1em;
}

.projectCard {
	/* TEMP FIXED WIDTH */
	max-width: 600px;

	/* border: 1px solid black; */
}

.projectImg {
	max-width: 100%;
}

@media screen and (max-width: 426px) {
	.projectCards {
		display: flex;
		flex-direction: column;
	}
	.projectCard {
		max-width: 300px;
	}
}
