/* PROSJEKT */
.projectDisplay {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projectCards {
	display: flex;
	flex-direction: row;
	gap: 1em 0;
}

.projectCard {
	/* TEMP FIXED WIDTH */
	max-width: 200px;

	border: 1px solid black;
}
