/* General */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* HEADER */
header {
	min-width: 100%;

	/* Debug */
	border: 3px red solid;
}

ul {
	display: flex;
	justify-content: center;
	align-items: center;

	list-style-type: none;
}

.navItem {
	padding: 1em;
}

/* MAIN */
.mainCard {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;

	text-align: center;

	/* Debug */
	border: 3px green solid;
}

.prosjekt3 {
	/* TEMP FIX SIZE */
	height: 700px;
	width: 700px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: teal;
	border-radius: 50%;
}

.text {
	/* TEMP FIX SIZE */
	width: 300px;
}

/* FOOTER */
footer {
	/* Debug */
	border: 3px red solid;
	display: flex;
	justify-content: center;
	padding: 1em;
}
