/* General */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* HEADER */
.converterHeader {
	display: flex;
	justify-content: center;
}

/* MAIN */
.mainCard {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;

	text-align: center;

	/* Debug */
	/* border: 3px green solid; */
}

.prosjekt3 {
	/* TEMP FIX SIZE */
	height: 700px;
	width: 700px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: teal;
	border-radius: 50%;
	margin: 0.5em;
}
