/* General */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* HEADER */
header {
	min-width: 100%;

	/* Debug */
	border: 3px red solid;
}

ul {
	display: flex;
	justify-content: center;
	align-items: center;

	list-style-type: none;
}

.navItem {
	padding: 1em;
}

/* MAIN */

/* Default section */
section {
	height: 100vh;
	padding: 1em;

	/* Debug */
	border: 3px yellow solid;
}

.mainCard {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;

	text-align: center;

	/* Debug */
	border: 3px green solid;
}

.portrait {
	/* Temp fix width */
	height: 500px;
	width: 500px;

	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
		rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
		rgba(0, 0, 0, 0.09) 0px -3px 5px;
	margin: 1em;
}

.text {
	padding: 0.3em;
}

/* FOOTER */
footer {
	/* Debug */
	border: 3px red solid;
	display: flex;
	justify-content: center;
	padding: 1em;
}
