/* GENERAL */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.section {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 8px;
}

/* BODY */
.light {
	background-color: #fdfdfd;
	color: #0d0d0d;
}

.dark {
	background-color: #0d0d0d;
	color: #fdfdfd;
}

/* HEADER */
.header {
	position: sticky;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fdfdfd;
	border-bottom: 2px solid black;
	padding: 1.5em;
}

/* THEME TOGGLE */
.sun, .moon {
	width: 32px;
	height: 32px;
	background-size: contain;
	background-repeat: no-repeat;
}

.sun {
	background-image: url(images/sun_filled.png);
}

.moon {
	background-image: url(images/moon_filled.png);
}

/* PAGE NAVIGATION */
.navBar {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: flex-end;
}

.burgerButton {
	display: none;
}

.navList {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	list-style-type: none;
}

a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.navItem {
	padding: 0.5em 1em;
}

/* HOME SECTION */
.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

.homeIntro {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.homeIntroLeft, .homeIntroRight {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.homeIntroRight > p {
	height: 60%;
	width: 60%;
}

.uppercase {
	text-transform: uppercase;
}

.portrait {
	height: 60%;
	width: 60%;
	border-radius: 50%;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* PROJECTS SECTION */
.projects {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* ANIMATION SECTION */
.animationMain {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25%;
}

/* FOOTER */
.footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;
	background-color: #fdfdfd;
	color: #0d0d0d;
}