/* GENERAL */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* HEADER */
.header {
	position: sticky;
	top: 0;
	min-width: 100%;

	/* TEMP */
	background-color: white;

	padding: 1em;
	/* Debug */
	/* Red symbolize header and footer */
	/* border: 3px red solid; */
}

.navBar {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
}

.burgerButton {
	display: none;
	background-color: inherit;
	border: none;
}

.navList {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	list-style-type: none;
}

a {
	display: block;
	color: red;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navItem {
	padding: 0.5em 1em;
}

/* MOBILE S TO MOBILE L */
@media screen and (max-width: 426px) {
	.burgerButton {
		display: inline;
	}

	.navBar {
		flex-direction: column-reverse;
	}

	.navList {
		display: none;
	}
	.navHamburger {
		display: flex;
		flex-direction: column;
	}
}

/* MAIN */
.section {
	min-height: 100vh;
	min-height: 100svh;
}

/* HOME */
.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* Debug */
	/* Green symbolizes home */
	/* border: 3px green solid; */
}

/* Div / card */
.card {
	/* TEMP FIX SIZE */
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;
}

/* Image / portrait */
.portrait {
	/* TEMP FIX SIZE */
	height: 30%;
	width: 30%;
	border-radius: 50%;

	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* MOBILE S TO MOBILE L */
@media screen and (max-width: 426px) {
	.portrait {
		height: 90%;
		width: 90%;
	}
}

/* PROSJEKT 5 */
.prosjekt5 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	/* Debug */
	/* Yellow symbolizes project */
	/* border: 3px yellow solid; */
}

.nameAnimation {
	font-size: 60px;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	background: linear-gradient(
		90deg,
		rgba(105, 105, 186, 1) 0%,
		rgba(235, 141, 0, 1) 25%,
		rgba(214, 0, 255, 1) 49%,
		rgba(0, 212, 255, 1) 50%,
		rgba(0, 212, 255, 1) 100%
	);
	-webkit-background-clip: text;
	background-size: 200% auto;
	animation: fancyTextColor 4s linear infinite;
}

@keyframes fancyTextColor {
	0% {
		background-position: 0;
	}
	100% {
		background-position: 100%;
	}
}

/* PROSJEKT 6 */
.prosjekt6 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* Debug */
	/* Yellow symbolizes project */
	/* border: 3px yellow solid; */
}

.div {
	/* TEMP FIX SIZE */
	height: 400px;
	width: 400px;

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
}

.button {
	height: 40px;
	border: 3px solid black;
	cursor: pointer;
	padding: 0.5em;
}

/* JavaScript */
.colorChange {
	background-color: green;
}

/* MOBILE S TO MOBILE L */
@media screen and (max-width: 426px) {
	.div {
		height: 250px;
		width: 250px;
	}
}

/* FOOTER */
.footer {
	min-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;

	/* Debug */
	/* Red symbolize header and footer */
	/* border: 3px red solid; */
}
