/* General */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* HEADER */
.multimediaHeader {
	display: flex;
	justify-content: center;
}

/* MAIN */
/* TEMP MAIN */
main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.gridGallery {
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 1em;
	justify-items: center;
	align-items: center;
}

.rectangle {
	width: 16em;
	height: 13em;
}

.square {
	width: 11em;
	height: 11em;
}

/* FOOTER */
