/* General */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* HEADER */
.multimediaHeader {
	display: flex;
	justify-content: center;
}

/* MAIN */
/* TEMP MAIN */
main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* TEMP COLOR */
	background-image: linear-gradient(to right, red, green);
}

/* FOOTER */
