/* General */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* HEADER */
.header {
	min-width: 100%;
	padding: 1em;

	/* Debug */
	/* Red symbolize header and footer */
	/* border: 3px red solid; */
}

.navList {
	display: flex;
	justify-content: center;
	align-items: center;

	list-style-type: none;
}

.navItem {
	padding: 0.5em 1em;
}

/* MAIN */
.mainCard {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;

	text-align: center;

	/* Debug */
	/* border: 3px green solid; */
}

.prosjekt4 {
	/* TEMP FIX SIZE */
	height: 800px;
	width: 800px;
	text-align: start;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mitt {
	color: red;
	font-size: 35;
	text-transform: uppercase;
}

.prosjekt {
	color: orange;
	font-size: 40px;
	letter-spacing: 0.5em;
}

.fire {
	color: green;
	font-size: 35px;
	text-transform: uppercase;
}

/* FOOTER */
.footer {
	min-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;

	/* Debug */
	/* Red symbolize header and footer */
	/* border: 3px red solid; */
}
