/* General */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* HEADER */
.parallaxHeader {
	display: flex;
	justify-content: center;
}

/* MAIN */
.parallax {
	height: 100vh;

	/* Image effect */
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	/* Flexbox */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.parallax1 {
	background-image: url(images/cliffsofmoher.jpg);
}

.parallax2 {
	background-image: url(images/gapofdunloe.jpg);
}

.parallax3 {
	background-image: url(images/rockofcashel.jpg);
}

/* Styling for text inside images */
.parallax1 h1,
.parallax1 p {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 10px;
}

/* Styling for text between images */
.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5em;
	max-width: 100%;
}
