/* General */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* MAIN */
main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* TEMP FIX SIZE */
img {
	height: 500px;
	width: 500px;
}
